{
  "type": "service_account",
  "project_id": "seigai-a9256",
  "private_key_id": "YOUR_PRIVATE_KEY_ID_FROM_FIREBASE",
  "private_key": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_FROM_FIREBASE\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk@seigai-a9256.iam.gserviceaccount.com",
  "client_id": "YOUR_CLIENT_ID_FROM_FIREBASE",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk%40seigai-a9256.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
